{% unless customer.accepts_marketing %}
{% unless request.design_mode  %}
  <script src="{{ 'newsletter-modal-display.js' | asset_url }}" defer></script>
  <script src="{{ 'newsletter-modal-submit-form.js' | asset_url }}" defer></script>
  <script src="{{ 'newsletter-modal-adjusting-modal.js' | asset_url }}" defer></script>
{% endunless %}
{{ 'component-newsletter-modal.scss.css' | asset_url | stylesheet_tag }}
{% render 'newsletter-modal-dynamic-styles' %}

<section class="newsletter-modal__wrap {% unless request.design_mode and section.settings.newsletter_modal_design_mode %}newsletter-modal__hidden{% endunless %}">
  <div
    class="newsletter-modal"
    data-delay-seconds="{{ section.settings.newsletter_modal_delay }}"
    data-visible="{{ section.settings.newsletter_modal }}">
    <span class="newsletter-modal__close">{{ 'icon-close-modal.svg' | inline_asset_content }}</span>
    <div class="newsletter-modal__img-section">&nbsp;</div>
    <div class="newsletter-modal__content-section">
      <div class="newsletter-modal__content 
      {% if request.design_mode and section.settings.newsletter_modal_type_view == "success" %}newsletter-modal__hidden{% endif %}
      {% if request.design_mode and section.settings.newsletter_modal_type_view == "subscribed" %}newsletter-modal__hidden{% endif %}"
      >
        <div class="newsletter-modal__headline">
          <div class="newsletter-modal__titles">
            <p class="newsletter-modal__title">{{ section.settings.newsletter_modal_title1 }}</p>
            <p class="newsletter-modal__title">{{ section.settings.newsletter_modal_title2 }}</p>
          </div>
          <p class="newsletter-modal__subtitle">{{ section.settings.newsletter_modal_text }}</p>
        </div>
        {% form 'customer', id: "newsletter-modal__form" %}
          <label>
            <input
              type="text"
              id="newsletter-modal__name-input"
              class="{% if request.design_mode %}newsletter-modal__error-input{% endif %}"
              value="{% if customer.first_name != blank and customer.last_name != blank %}{{ customer.first_name }} {{ customer.last_name }}{% endif %}"
              placeholder="MENO">
                <span class=" newsletter-modal__error-name newsletter-modal__error-message {% unless request.design_mode %}newsletter-modal__hidden{% endunless %}">Zadajte platné meno</span>
          </label>
          <input
            type="hidden"
            name="contact[first_name]"
            id="newsletter-modal__first-name-input">
          <input
            type="hidden"
            name="contact[last_name]"
            id="newsletter-modal__last-name-input">
          <label>
            <input
              type="email"
              name="contact[email]"
              id="newsletter-modal__email-input"
              class="{% if request.design_mode %}newsletter-modal__error-input{% endif %}"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="EMAILOVA ADRESA"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email">
                <span class="newsletter-modal__error-email newsletter-modal__error-message {% unless request.design_mode %}newsletter-modal__hidden{% endunless %}">Zadajte platnýe-mail</span>
          </label>
          <label class="newsletter-modal__form-consent">
            <input type="checkbox" id="newsletter-modal__consent-input">
            <span class="newsletter-modal__form-consent-text {% if request.design_mode %}newsletter-modal__error-consent{% endif %}">I agree to the User Agreement and
              <a href="#" target="_blank">Privacy Policy.</a>
            </span>
          </label>
          <input
            type="button"
            id="newsletter-modal__submit-input"
            value="{{ section.settings.newsletter_modal_button_text }}">
        {% endform %}
      </div>
      <div class="newsletter-modal__content-success {% unless request.design_mode and section.settings.newsletter_modal_type_view == "success" %}newsletter-modal__hidden{% endunless %}">
        <div class="newsletter-modal__headline">
          <div class="newsletter-modal__titles">
            <p class="newsletter-modal__title">{{ section.settings.newsletter_modal_title_success }}</p>
          </div>
          <p class="newsletter-modal__subtitle">{{ section.settings.newsletter_modal_text_success }}</p>
        </div>
      </div>
      <div class="newsletter-modal__content-subscribed {% unless request.design_mode and section.settings.newsletter_modal_type_view == "subscribed" %}newsletter-modal__hidden{% endunless %}">
        <div class="newsletter-modal__headline">
          <div class="newsletter-modal__titles">
            <p class="newsletter-modal__title">{{ section.settings.newsletter_modal_title_subscribed }}</p>
          </div>
          <p class="newsletter-modal__subtitle">{{ section.settings.newsletter_modal_text_subscribed }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endunless %}

{% schema %}
  {
    "name": "Newsletter Modal",
    "settings": [
      {
        "type": "checkbox",
        "id": "newsletter_modal_design_mode",
        "label": "Show in design mode?",
        "info": "It does not affect the frontend page."
      },
      {
        "type": "select",
        "id": "newsletter_modal_type_view",
        "label": "Type view in editor",
        "options": [
          {
            "value": "form",
            "label": "Form"
          },
          {
            "value": "success",
            "label": "Success"
          },
          {
            "value": "subscribed",
            "label": "Subscribed"
          }
        ],
        "default": "form"
      },
      {
        "type": "checkbox",
        "id": "newsletter_modal",
        "label": "Enable newsletter modal?"
      },
      {
        "type": "range",
        "id": "newsletter_modal_delay",
        "min": 0,
        "max": 25,
        "step": 1,
        "unit": "sec",
        "label": "Modal show delay",
        "default": 10
      },
      {
        "type": "image_picker",
        "id": "newsletter_modal_image",
        "label": "Image for large screen"
      },
      {
        "type": "text",
        "id": "newsletter_modal_title1",
        "label": "Title #1"
      },
      {
        "type": "text",
        "id": "newsletter_modal_title2",
        "label": "Title #2"
      },
      {
        "type": "textarea",
        "id": "newsletter_modal_text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "newsletter_modal_button_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "newsletter_modal_title_success",
        "label": "Title - success",
        "info": "Show after successful subscribed"
      },
      {
        "type": "textarea",
        "id": "newsletter_modal_text_success",
        "label": "Text - success",
        "info": "Show after successful subscribed"
      },
      {
        "type": "text",
        "id": "newsletter_modal_title_subscribed",
        "label": "Title - already subscribed",
        "info": "Show when is already subscribed"
      },
      {
        "type": "textarea",
        "id": "newsletter_modal_text_subscribed",
        "label": "Text - already subscribed",
        "info": "Show when is already subscribed"
      },
      {
        "type": "color",
        "id": "newsletter_modal_bg_color",
        "label": "Background color",
        "default": "#FFE0F9"
      },
      {
        "type": "color",
        "id": "newsletter_modal_main_color",
        "label": "Main color",
        "default": "#F50D3A",
        "info": "Color for titles, link and button"
      },
      {
        "type": "color",
        "id": "newsletter_modal_secondary_color",
        "label": "Secondary color",
        "default": "#949494",
        "info": "Color for text under titles"
      },
      {
        "type": "color",
        "id": "newsletter_modal_input_color",
        "label": "Input text color",
        "default": "#818181",
        "info": "Color for consent text and input text"
      },
      {
        "type": "color",
        "id": "newsletter_modal_bg_input_color",
        "label": "Background input color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "newsletter_modal_button_text_color",
        "label": "Button text color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "newsletter_modal_close_icon_color",
        "label": "Close icon color",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "newsletter_modal_error_color",
        "label": "Error color",
        "default": "#ff0000",
        "info": "Background color for inputs and underline consent"
      },
      {
        "type": "color",
        "id": "newsletter_modal_text_error_color",
        "label": "Text error color",
        "default": "#ffffff",
        "info": "Color for text in inputs"
      }
    ]
  }
{% endschema %}