<script src="{{ 'newsletter-modal-exclude-captcha-page.js' | asset_url }}"></script>
<script src="{{ 'newsletter-modal-display.js' | asset_url }}" defer></script>
<script src="{{ 'newsletter-modal-submit-form.js' | asset_url }}" defer></script>
<script src="{{ 'newsletter-modal-adjusting-modal.js' | asset_url }}" defer></script>
{{ 'component-newsletter-modal.css' | asset_url | stylesheet_tag }}
{% include 'newsletter-modal-dynamic-styles' %}

{% comment %} Setting for design mode {% endcomment %}
{% assign delay = 0 %}
{% assign showError  = "hidden"  %}
{% if request.design_mode %}
  {% assign delay = 0 %}
  {% assign showError  = ""  %}
{% else %}
  {% assign delay = section.settings.newsletter_modal_delay %}
  {% assign showError  = "hidden"  %}
{% endif %}


<div id="modal" data-delay-seconds="{{ delay }}" data-visible="{{ section.settings.newsletter_modal }}">
  <span id="close-modal">{{ 'icon-close-modal.svg' | inline_asset_content }}</span>
  <div id="modal-img"></div>
  <div id="modal-content">
    <div id="content">
      <div id="headline">
        <div id="titles">
          <p id="title-1" class="title">{{ section.settings.newsletter_modal_title1 }}</p>
          <p id="title-2" class="title">{{ section.settings.newsletter_modal_title2 }}</p>
        </div>
        <p class="text">{{ section.settings.newsletter_modal_text }}</p>
      </div>
      {% form 'customer'
        , id: "newsletter-form" %}
        <label id="name-input">
          <input
            type="text"
            id="name"
            placeholder="MENO"><span id="name-error" class="error-message {{ showError }}">Zadajte platné meno</span>
        </label>
        <input type="hidden" name="contact[first_name]" id="first-name">
        <input type="hidden" name="contact[last_name]" id="last-name">
        <label>
          <input
            type="email"
            name="contact[email]"
            id="email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="EMAILOVA ADRESA"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"><span id="email-error" class="error-message {{ showError }}">Zadajte platnýe-mail</span>
        </label>
        <label id="marketing-consent">
          <input type="checkbox" id="consent">
          <span id="consent-text">I agree to the User Agreement and
            <a href="#" target="_blank">Privacy Policy.</a>
          </span>
        </label>
        <input
          type="button"
          id="submit-button"
          value="{{ section.settings.newsletter_modal_button_text | default: "prihlás ma" }}">
      {% endform %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Newsletter Modal",
    "tag": "section",
    "class": "newsletter-modal hidden",
    "settings": [
      {
        "type": "checkbox",
        "id": "newsletter_modal",
        "label": "Show Newsletter Modal?"
      },
      {
        "type": "range",
        "id": "newsletter_modal_delay",
        "min": 0,
        "max": 25,
        "step": 1,
        "unit": "sec",
        "label": "Modal show delay",
        "default": 10
      },
      {
        "type": "image_picker",
        "id": "newsletter_modal_image",
        "label": "Image for large screen"
      },
      {
        "type": "text",
        "id": "newsletter_modal_title1",
        "label": "Title #1"
      },
      {
        "type": "text",
        "id": "newsletter_modal_title2",
        "label": "Title #2"
      },
      {
        "type": "text",
        "id": "newsletter_modal_text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "newsletter_modal_button_text",
        "label": "Button Text"
      },
      {
        "type": "color",
        "id": "newsletter_modal_bg_color",
        "label": "Background color",
        "default": "#FFE0F9"
      },
      {
        "type": "color",
        "id": "newsletter_modal_main_color",
        "label": "Main color",
        "default": "#F50D3A",
        "info": "Color for titles, link and button"
      },
      {
        "type": "color",
        "id": "newsletter_modal_secondary_color",
        "label": "Secondary color",
        "default": "#949494",
        "info": "Color for text under titles"
      },
      {
        "type": "color",
        "id": "newsletter_modal_input_color",
        "label": "Input text color",
        "default": "#818181",
        "info": "Color for consent text and input text"
      },
      {
        "type": "color",
        "id": "newsletter_modal_bg_input_color",
        "label": "Background input color",
        "default": "#FFFFFF",
      },
      {
        "type": "color",
        "id": "newsletter_modal_button_text_color",
        "label": "Button text color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "newsletter_modal_close_icon_color",
        "label": "Close icon color",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "newsletter_modal_error_color",
        "label": "Error color",
        "default": "#ff0000",
        "info": "Background color for inputs and underline consent"
      },
      {
        "type": "color",
        "id": "newsletter_modal_text_error_color",
        "label": "Text error color",
        "default": "#ffffff",
        "info": "Color for text in inputs"
      }
    ]
  }
{% endschema %}